body {
  background: #ddd;
  padding: 5px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.2rem;
  color: #555;
}

/* カードコンテナ */
#card-container {
  white-space: nowrap;
  user-select: none;
  max-width: 700px;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  overflow-x: visible;
}

/* カード */
.card {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 120px;
  margin-left: -50px;
  transition: margin 0.3s ease, transform 0.3s ease, z-index 0s;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  background: #333;
  overflow: hidden;
  touch-action: none;
}
.card:first-child {
  margin-left: 0;
}
.card.hovered {
  margin-left: -35px !important;
  transform: translateY(5px);
  z-index: 10;
}
.card:first-child.hovered {
  margin-left: 0 !important;
}

@media (hover: hover) {
  .card:hover {
    margin-left: -35px !important;
    transform: translateY(5px);
    z-index: 10;
  }
  .card:first-child:hover {
    margin-left: 0 !important;
  }
}

/* 選択済みカード */
.card.selected {
  border-color: #000;
}
.card.selected img {
  filter: brightness(0.6);
  opacity: 0.7;
}

/* カード画像 */
.card img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
}

/* 選択カード表示エリア */
#selected-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

/* 選択カードの画像 */
#selected-cards img {
  width: 100px;
  height: 150px;
  border-radius: 6px;
  box-shadow: 0 0 10px gold;
}

/* 説明文 */
#description {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  color: #222;
}
#description p {
  background: #f0f0f0;
  padding: 18px;
  border-radius: 5px;
  margin-top: 10px;
  color: #333;
  font-size: 0.8rem;
}

/* 説明文 */
#instruction {
  max-width: 700px;
  margin: 50px auto;
  text-align: left;
  color: #555;
  font-size: 0.9rem;
}

#button-area {
  text-align: center;
  margin: 20px 0;
}

#reset-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #544c8a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}
#reset-button:hover {
  background-color: #3c3665;
}

/* スマホ対応 */
@media screen and (max-width: 600px) {
  #card-container {
    flex-wrap: nowrap;
    overflow-x: visible;
    margin: 0 auto 20px auto;
  }

  .card {
    width: 70px;
    height: 90px;
    margin-left: -40px;
  }

  .card.hovered {
    margin-left: -35px !important;
    transform: translateY(5px);
    z-index: 10;
  }

  .card:first-child {
    margin-left: 0;
  }

  #selected-cards {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 8px;
  }

  #selected-cards img {
    width: calc((100vw - 80px) / 4); 
    height: auto;
    
  }

  #description p {
    font-size: 0.75rem;
    padding: 14px;
  }

  #instruction {
    font-size: 0.8rem;
  }

  #reset-button {
    font-size: 0.9rem;
    padding: 8px 16px;
    width: 100%;
  }
}

